{% extends "base.html" %}
{% block title %}비밀번호 변경{% endblock %}

{% block content %}
<h2>비밀번호 변경</h2>
<form action="{{ url_for('change_password') }}" method="POST">
    <label>현재 비밀번호:</label>
    <input type="password" name="current_password">
    <br><br>
    <label>새 비밀번호:</label>
    <input type="password" name="new_password">
    <br><br>
    <label>새 비밀번호 확인:</label>
    <input type="password" name="confirm_password">
    <br><br>
    <button type="submit">변경</button>
</form>
<a href="{{ url_for('profile') }}">프로필로 돌아가기</a>
{% endblock %}
